@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
:root{
    --primaryColor: #ff274b;
    --secondaryColor: #f7bcf7;
    --textColor: #3d535f;
    --bgColor-3: #f3f5f8;
    --lightColor: #fff;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

a:link {
    color: #f7bcf7;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #7f00ff;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #ff274b;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: #f7bcf7;
    background-color: transparent;
    text-decoration: underline;
  }


html{
    /* font-family: "Josefin Sans", sans-serif; */
    font-size: 16px;
    color: var(--lightColor);
    scroll-behavior: smooth;
}
span{
    color: #7f00ff;
}


/* ----------------------------------------------------------------
-------------------------HOME SECTION --------------------------
---------------------------------------------------------------- */

.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bgColor-1);
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: var(--lightColor);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;     
}

h1 {
    font-size: 4.65rem;
    margin: 1.7rem 0;
}
h2 {
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
    /* color: #7f00ff; */
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}
h4 {
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
}
.skill-header {
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}
.main-text {
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: var(--lightColor);
}
.text-pink {
    color: #f7bcf7;
}

.dot{
    font-size: 70px;
    color: #7f00ff;
}

.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: var(--lightColor);
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a,
.links a:hover{
    color: #7f00ff;
}

.links a{
    font-size: 30px;
    color: var(--lightColor);
    margin: 25px 10px;
}

.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 550px;
    width: 550px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, #7f00ff,pink);
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, #7f00ff,pink);
    animation: object2 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}

.cols{
    width: 50%;
}
.cols0{
    width: 83%;
    z-index: 5;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: var(--lightColor);

}
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}

.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}

p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: var(--lightColor);
}

.btns{
    width: 100%;
    position: relative;
    left: 150px;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
}
button:hover{
    background-color: #7f00ff;
}

.imgbox{
    position: relative;
    width: 80%;
    height: 80%;
}

.imgbox img{
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    border-style: solid;
    border-width: 5px;
    border-color: #7f00ff;
    border-radius: 65px;
    top: -100px;
    right: 50px;
    transform: rotate(180deg);
    animation: animateUser 4s linear infinite;
}
@keyframes animateUser{
    50%{
        right: 30px;
        top: -90px;
    }
}
/* splash is the design above the img */
.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-35deg);
    width: 160%;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    50%{
        top: 49%;
        left: 51%;
        width: 155%;
    }
}
/* 
----------------------------------------------------------------
------------------------- ABOUT SECTION ------------------------
---------------------------------------------------------------- */
.about{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about .container-images{
    width: 35%;
}
.about .container-images img{
    width: 90%;
}
.about .container-texts{
    width: 35%;
    color: var(--lightColor);
}
.par{
    color: #f3f5f8;
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}
.par-project{
    color: #f3f5f8;
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 45px;
}

.services{
    background-color: var(--bgColor-1);
    padding: 4rem var(--padding);
}

.text-center{
    text-align: center;
}

.box{
    display: flex;
    justify-content: space-between;
    gap:45px;
}
.card{
    width: 300px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}
.card em{
    font-size: 3.12rem;
    text-align: center;
    color: #7f00ff;
    margin: 2rem;
}

/* -------------------------------------------------------------
------------------------- SKILLS SECTION -----------------------
---------------------------------------------------------------- */
.skills{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .container-images{
    width: 35%;
}
.skills .container-images img{
    width: 90%;
}

.skills .container-skills{
    width: 40%;
}
.content-skills{
    /* display: flex;
    margin-top: 4rem;
    gap: 1rem; */
    grid-row-gap: 3rem;
    grid-gap: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3rem;
    margin-top: 4rem;
}
.skills-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.content-container{
    display: flex;
    flex-direction: row;
    gap: 6rem;
}
.skill-icon{
    width: 100px;
    height: 100px;
    background-color: var(--lightColor);
    border-radius: 50%;
    /* margin: 0 2rem 0 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7f00ff;
}
.skill img{
    width: 70%;
}

.skill-text{
    width: 100%;
    font-family: "poppins";
    color: #f7bcf7;
    margin-top: 10px;
}
/* 
----------------------------------------------------------------
------------------------- EMAIL ------------------------
---------------------------------------------------------------- */
.container-email{
    width: 100%;
    height: 80vh;
    background-color: #171a1c;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background-color: #3d535f;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    color: #f3f5f8;
    font-weight: 800px;
    margin-bottom: 20px;
}

form input, form textarea{
    border:0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    min-width: 300px;
}
form button{
    padding: 15px;
    background: #555;
    color: #f3f5f8;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    
}
/* -------------------------------------------------------------
------------------------- FOOTER SECTION -----------------------
---------------------------------------------------------------- */
footer{
    padding: 2rem var(--padding);
    background-color: var(--bgColor-2);
}

footer .content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .content-footer p{
    color: var(--lightColor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}
footer .content .end{
    color: var(--primaryColor);
    margin-top: 1rem;
}
.hamburger {
    display: none;
    position: relative;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span{
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
}
/* 
----------------------------------------------------------------
------------------------- MENU HAMBURGUER ------------------------
---------------------------------------------------------------- */
#menu{
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
    box-shadow: none;
    align-self: center;
    color: #3d535f;
}
#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}
#menu.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}
#menu.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}
#menu.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}
#menu.is-active span{
    background-color: var(--primaryColor);
}
/* 
----------------------------------------------------------------
------------------------- MEDIA QUERIES ------------------------
---------------------------------------------------------------- */

@media screen and (max-width: 575px) {
    :root {
        --padding: 1.5rem;
    }
    html{
        font-size: 13px;
    }

    .home .container-images{
        display: none;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    nav > a {
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bgColor-2);
    }
    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    }
    nav ul.is-active{
        display: block;
    }
    .container-texts {
        bottom: 0em;
    }
    .social {
        margin-top: 70px;
    }

    .social a {
        text-decoration: none;
    }
    h3 {
        margin-bottom: 70px;
    }
    #menu{
        display: block;
    }
}